on early-boot
    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 5171
    write /sys/devices/platform/ab8500-i2c.0/ab8500-usb.0/boot_time_device 1

on property:sys.storage.ums_enabled=1
    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 6171

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 5171
    write /sys/class/android_usb/android0/enable 1

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 6171
    write /sys/class/android_usb/android0/enable 1
